body{
    height: 150vh;
    display:flex;
    flex-direction: column;
    margin:0;
}
h1 {
    text-align: center;
    font-size:36px;
    font-weight: bolder;
    color:#1F2937;
}
span {
    display :block}
header {
    justify-content: space-between;
    display:flex;
    background-color: #1F2939;
    height: 50px;
    align-items: center;
    
}
header div {
    text-align: center;
    font-size: 24px;
    color:#F9FAF8;
    font-weight:800;
}
header ul {
    
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 35px;
}
header ul li a {
    font-size: 18px;
    color:#E5E7EB;
    text-decoration: none;
}
.content {
    align-items: stretch;
  justify-content: space-between;
    flex:1;
    display:flex;
    flex-direction: column;
}
.first, .second, .third, .four {
    padding: 0 18%; 
    flex:1;
    display:flex;
}
.first {
    flex-direction: column;
    
    background-color: #1F2939;
}
.main{
    display:flex;
    
}
.text {
    flex:1;
display:flex;
flex-direction: column;
justify-content: center;
gap: 15px;
align-items: flex-start;
}
.text button {
    background-color:#3882F6;
    border: 0;;
    padding: 5px 20px;
    border-radius: 5px;
    color:#F9FAF8;
    cursor: pointer;
}
.text button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.img{ 
    flex:1;
    display:flex;
    justify-content: center;
}
.head {
    
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text-content {
    font-size: 18px;
    color:#E5E7EB;
}
.second {
    flex-direction: column;
    
}
.img-container {
    display:flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.img-container div span {
    padding:10px;
    max-width: 200px;
    

}
.im {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    border: solid #3882F6 4px;
}
.third {
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;    
}
.quote{
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    font-weight: lighter;
}
.quote-author{
    font-size: 18px;
    color:#1F2937;
    text-align: right;
    margin-top: 10px;
    padding-right: 100px;
    font-weight: bolder;
}
.four{
    align-items: center;
}
.bord{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 3% 0;
    flex:1;
    background-color: #3882F6;
}
.call {
    color:#F9FAF8;
    font-size: 32px;
    font-weight: 900;
}
.sign{
    color: #E5E7EB;
    font-size: 18px;
}
.btn {
   padding :8px 35px;
   color:#E5E7EB;
   border:#E5E7EB 2px solid;
   background-color: #3882F6;
   border-radius: 5px;
   cursor: pointer;
}
.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
footer {
    display:flex;
    height: 50px;
    background-color: #1F2939;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#E5E7EB;
    padding: 10px;
}  